<div class="full-min-width">

    <div class="container">
        <h1>Our Clients</h1>
        <div class="row">

            <div class="col-md-3" *ngFor="let e of clientsObj">
                <img src="{{e.img}}" alt="" class="clientImg">
                <p>{{e.title}}</p>
            </div>

        </div>

    </div>

    <br><br>

    <div class="container">
        <h1>Testimonies by our Clients</h1>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="../../assets/homePageImage.jpg" alt="">
                    <div class="card-content">
                        <p class="name">Mr. Client Name</p>
                        <p class="design">Designation</p>
                        <p class="company">Company</p>
                        <p class="msg">
                            Enumerating objects: 63, done.Counting objects: 100% (62/62), done.Delta compression using
                            up to
                            12 threads
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../assets/homePageImage.jpg" alt="">
                    <div class="card-content">
                        <p class="name">Mr. Client Name</p>
                        <p class="design">Designation</p>
                        <p class="company">Company</p>
                        <p class="msg">
                            Enumerating objects: 63, done.Counting objects: 100% (62/62), done.Delta compression using
                            up to
                            12 threads
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../assets/homePageImage.jpg" alt="">
                    <div class="card-content">
                        <p class="name">Mr. Client Name</p>
                        <p class="design">Designation</p>
                        <p class="company">Company</p>
                        <p class="msg">
                            Enumerating objects: 63, done.Counting objects: 100% (62/62), done.Delta compression using
                            up to
                            12 threads
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <br><br>
    </div>

</div>