<div class="full-min-width">

    <div class="container">

        <h1 class="gb-title gb-title-pad">Our Clients</h1>

        <!-- <div style="background-color: red;border-radius: 40px; padding: 24px;">
            <div class="row">

                <div class="col-md-3" *ngFor="let e of clientsObj">
                    <div class="logo-cont" style="background-image: url({{e.img}});">
                    </div>
                </div>

            </div>
        </div> -->

        <h2 class="head gb-title">O.E.M.</h2>
        <img src="../../assets/customers/cust1.png" alt="" class="cust-img">

        <br><br><br><br>

        <h2 class="head gb-title">Tier 1 Supplies</h2>
        <img src="../../assets/customers/cust2.png" alt="" class="cust-img">

        <br><br><br><br>

        <h2 class="head gb-title">Indirect Customers</h2>
        <img src="../../assets/customers/cust3.png" alt="" class="cust-img">

    </div>

    <br><br>

    <!-- <div class="container">
        <h1>Testimonies by our Clients</h1>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="../../assets/homePageImage.jpg" alt="">
                    <div class="card-content">
                        <p class="name">Mr. Client Name</p>
                        <p class="design">Designation</p>
                        <p class="company">Company</p>
                        <p class="msg">
                            Enumerating objects: 63, done.Counting objects: 100% (62/62), done.Delta compression using
                            up to
                            12 threads
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../assets/homePageImage.jpg" alt="">
                    <div class="card-content">
                        <p class="name">Mr. Client Name</p>
                        <p class="design">Designation</p>
                        <p class="company">Company</p>
                        <p class="msg">
                            Enumerating objects: 63, done.Counting objects: 100% (62/62), done.Delta compression using
                            up to
                            12 threads
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../assets/homePageImage.jpg" alt="">
                    <div class="card-content">
                        <p class="name">Mr. Client Name</p>
                        <p class="design">Designation</p>
                        <p class="company">Company</p>
                        <p class="msg">
                            Enumerating objects: 63, done.Counting objects: 100% (62/62), done.Delta compression using
                            up to
                            12 threads
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <br><br>
    </div> -->

</div>