.full-height {
    height: 100%;
}
.profCard {
    background-color: white;
    border-radius: 50px;
    padding: 48px 24px;
    box-shadow: 0px 6px 15px #80808066;
    max-width: 300px;
    height: 100%;
}
.profCard img {
    width: 180px;
    border-radius: 5000px;
    // box-shadow: 2px 2px 8px grey;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    margin: auto;
    display: block;
}
.textContainer h4 {
    text-align: center;
    font-weight: 200;
    font-size: 18px;
    text-transform: uppercase;
}
.textContainer {
    // margin-top: 24px;
    margin: 36px;
}
.textContainer p {
    text-align: justify;
    font-size: 12px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    // background-color: #2196f3;
    padding: 10px;
    height: 80%;
}
.grid-item {
    // background-color: rgba(255, 255, 255, 0.8);
    // border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.br-l{
    border-left: 1px solid grey;
}
.br-b{
    border-bottom: 1px solid grey;
}
.br-t{
    border-top: 1px solid grey;
}
.br-r{
    border-right: 1px solid grey;
}