<div style="padding: 48px 0;">
    <div class="container">
        <h1 class="gb-title">About Directors</h1>
        <br><br><br>
        <div class="row">

            <div class="col-md-8">

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="profCard">
                                <img src="../../../assets/founder/placeholder-user-image.jpg" alt="">
                                <div class="textContainer">
                                    <h4>Shiv Nandan Singh</h4>
                                    <p>Loerum Epsum nd communication and this is photography but i am a founder and i
                                        love my travel vlog with robert</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="profCard">
                                <img src="../../../assets/founder/placeholder-user-image.jpg" alt="">
                                <div class="textContainer">
                                    <h4>Ram Lalit Singh</h4>
                                    <p>Loerum Epsum nd communication and this is photography but i am a founder and i
                                        love my travel vlog with robert</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">



            </div>

        </div>
        <br><br><br>
    </div>
</div>