<div style="padding: 48px 0;">
    <div class="container">

        <div class="row">

            <div class="col-md-8">
                <h1 class="gb-title">About Directors</h1>
                <br><br><br>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="profCard">
                                <img src="../../../assets/founder/placeholder-user-image.jpg" alt="">
                                <div class="textContainer">
                                    <h4>Shiv Nandan Singh</h4>
                                    <p>Loerum Epsum nd communication and this is photography but i am a founder and i
                                        love my travel vlog with robert</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="profCard">
                                <img src="../../../assets/founder/placeholder-user-image.jpg" alt="">
                                <div class="textContainer">
                                    <h4>Ram Lalit Singh</h4>
                                    <p>Loerum Epsum nd communication and this is photography but i am a founder and i
                                        love my travel vlog with robert</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">

                <h1 class="gb-title">About Us</h1>
                <br><br><br>

                <div class="grid-container">
                    <div class="grid-item br-r br-b">
                        one
                    </div>
                    <div class="grid-item br-l br-r br-b">
                        one
                    </div>
                    <div class="grid-item br-l br-b">
                        one
                    </div>
                    <div class="grid-item br-r br-t br-b">
                        one
                    </div>
                    <div class="grid-item br-l br-r br-b br-t">
                        one
                    </div>
                    <div class="grid-item br-l br-t br-b">
                        one
                    </div>
                    <div class="grid-item br-t br-r">
                        one
                    </div>
                    <div class="grid-item br-t br-r br-l">
                        one
                    </div>
                    <div class="grid-item br-l br-t">
                        one
                    </div>
                </div>

            </div>

        </div>
        <br><br><br>
    </div>
</div>