<div style="padding: 48px 0;">
    <div class="container">

        <div class="row">

            <div class="col-md-8">
                <h1 class="gb-title">About Directors</h1>
                <br><br><br>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="profCard">
                                <img src="../../assets/team/ram_lalit.jpeg" alt="">
                                <div class="textContainer">
                                    <h4>Ram Lalit Singh</h4>
                                    <!-- <p>Loerum Epsum nd communication and this is photography but i am a founder and i
                                        love my travel vlog with robert</p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="profCard">
                                <img src="../../../assets/team/sajan.png" alt="">
                                <div class="textContainer">
                                    <h4>Shiv Nandan Singh</h4>
                                    <!-- <p>Loerum Epsum nd communication and this is photography but i am a founder and i
                                        love my travel vlog with robert</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">

                <h1 class="gb-title">About Us</h1>
                <br><br><br>

                <div class="grid-container">
                    <div class="grid-item br-r br-b">
                        <h4>Annual Turnover</h4>
                        <p>40Cr +</p>
                    </div>
                    <div class="grid-item br-l br-b">
                        <h4>Year of Establishment</h4>
                        <p>1998</p>
                    </div>
                    <div class="grid-item br-t br-r">
                        <h4>Countries Covered</h4>
                        <p>10+</p>
                    </div>
                    <div class="grid-item br-l br-t">
                        <h4>Clients Satisfied</h4>
                        <p>50+</p>
                    </div>

                </div>

            </div>

        </div>
        <br><br><br>
    </div>
</div>