<img src="../../assets/unnamed.png" alt="" class="logo">

<span class="flexOne"></span>

<div class="btn-group">

    <div routerLink="/">HOME</div>
    <div routerLink="/aboutUs">About Us</div>
    <div routerLink="/products">Our Products</div>
    <div routerLink="/ourTeam">Our Team</div>
    <div routerLink="/ourClients">Our Clients</div>
    <div routerLink="/groupCompanies">Our Group Companies</div>
    <div routerLink="/contactUs">Contact Us</div>

</div>

<div class="mb-more" style="z-index: 11;">
    <i class="fa fa-bars" style="transition: 0.4s;" id="brgr-menu" aria-hidden="true" (click)="openMenu()"></i>
</div>

<div class="mb-menu menu-hide" id="menu">
    <span class="flexOne"></span>
    <ul (click)="openMenu()">
        <li>
            <a routerLink="/">Home</a>
        </li>
        <li>
            <a routerLink="/aboutUs">About Us</a>
        </li>
        <li>
            <a routerLink="/products">Our Products</a>
        </li>
        <li>
            <a routerLink="/ourTeam">Our Team</a>
        </li>
        <li>
            <a routerLink="/ourClients">Our Clients</a>
        </li>
        <li>
            <a routerLink="/groupCompanies">Our Group Companies</a>
        </li>
        <li>
            <a routerLink="/contactUs">Contact Us</a>
        </li>
    </ul>
    <span class="flexOne"></span>
</div>