<div style="background-color:black; color:white; min-height: 30vh; position: relative; padding-top: 48px;">

    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <h4>MWT</h4>
                <ul>
                    <li>About Us</li>
                    <li>Company Profile</li>
                    <li>Speciality</li>
                    <li>Contact Us</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Works</h4>
                <ul>
                    <li>Line Automation</li>
                    <li>Robotic Line Cells</li>
                    <li>Welding SPM</li>
                    <li>Jigs & Fixtures</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Social</h4>
                <ul>
                    <li>Facebook</li>
                    <li>Linked In</li>
                    <li>Twitter</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Line Automation</h4>
                <ul>
                    <li>Robotic cell for Spot & MIG Welding</li>
                    <li>Spot & MIG Welding</li>
                    <li>Assembly Line</li>
                    <li>Automated Assembly Stations</li>
                </ul>
            </div>
        </div>

    </div>

    <div style="display: flex; position: absolute; bottom:0;width:100%; padding: 6px 24px;background-color: #343434;">
        <div class="icon-grup">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-linkedin" aria-hidden="true"></i>
        </div>

        <span class="flexOne"></span>

        <p style="text-align:center;margin:auto;">Powered By KRISHNA SOFT CORP</p>
    </div>

</div>