<div class="footer">

    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <h4>MWT</h4>
                <ul>
                    <li routerLink="/aboutUs">About Us</li>
                    <li>Company Profile</li>
                    <li routerLink="/groupCompanies">Our Group Companies</li>
                    <li routerLink="/contactUs">Contact Us</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Works</h4>
                <ul>
                    <li routerLink="/products" [queryParams]="{ref:'1'}">Line Automation</li>
                    <li routerLink="/products" [queryParams]="{ref:'2'}">Robotic Line Cells</li>
                    <li routerLink="/products" [queryParams]="{ref:'5'}">Welding SPM</li>
                    <li routerLink="/products" [queryParams]="{ref:'1'}">Jigs & Fixtures</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Social</h4>
                <ul>
                    <li>Facebook</li>
                    <li>Linked In</li>
                    <li>Twitter</li>
                </ul>
            </div>
            <div class="col-md-3">
                <img src="../../assets/footer/Logo-ISO.png" alt="" style="width: 50%;margin: auto;display: block;">
            </div>
        </div>

    </div>

</div>
<div class="footer-end">
    <div class="icon-grup">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-linkedin" aria-hidden="true"></i>
    </div>

    <span class="flexOne"></span>

    <p style="text-align:center;margin:auto;">Powered By KRISHNA SOFT CORP</p>
</div>