.icon-grup {
    margin: auto;
    width: fit-content;
}

.icon-grup i {
    font-size: 24px;
    margin: 0 12px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
    padding: 0;
    color: #afafaf;
}
li:hover {
    color: white;
    cursor: pointer;
}
.footer-end {
    display: flex;
    width: 100%;
    padding: 6px 24px;
    background-color: #343434;
    color: white;
}
.footer {
    background-color: black;
    color: white;
    min-height: 30vh;
    position: relative;
    padding-top: 48px;
}

@media only screen and (max-width: 768px) {
    .footer-end {
        flex-direction: column;
        padding-bottom: 24px;
    }
    .footer {
        padding-bottom: 24px;
    }
}
