<div style="padding-top:12vh; min-height:100vh">

    <h2 style="text-align:center;" class="gb-title gb-title-pad">Contact Us</h2>
    <br><br>
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <img src="../../assets/contact/IMG_20210323_114933.jpg" alt="" style="width:100%;">
            </div>
            <div class="col-md-6">
                <div class="text-cont">
                    <h3>Head Office:</h3>
                    <p>9/2, Sanjay Colony, 40, Feet Road, Near Ganchi Chowk, Sohna Rd, Sanjay Colony, Faridabad, Haryana
                        121005</p>
                </div>
                <div class="text-cont">
                    <h4>Contact No.</h4>
                    <a href="tel:+919315361140">+91 93153 61140</a>
                </div>
                <div class="text-cont">
                    <h4>E-mail</h4>
                    <a href="mailto:Ramlalit460@gmail.com">ramlalit460@gmail.com</a>
                </div>
            </div>
        </div>
        <br><br>
        <!-- <div class="row">
            <div>

            </div>
        </div> -->
        <br>
        <iframe class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28089.717969529258!2d77.27759608794965!3d28.352356481849952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cde6350000001%3A0x65da1d65455d0a92!2sMechwell%20Tools%20%26%20Gauges%20Private%20Limited!5e0!3m2!1sen!2sin!4v1614008342001!5m2!1sen!2sin"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

        <br><br>
    </div>

    <div class="form-group" style="background-color:rgb(209, 209, 209);">

        <form class="padding container" (ngSubmit)="submit()" [formGroup]="formDet">

            <h3>Drop a line to us. Your word is most important to us.</h3>
            <br>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Full Name</mat-label>
                <input matInput formControlName="name" type="text">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput formControlName="phone" type="tel">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Enter Message</mat-label>
                <textarea matInput rows="4" formControlName="msg"></textarea>
            </mat-form-field>

            <button class="primary-button" type="submit">Submit</button>

        </form>
    </div>


</div>