.full-width {
    width: 100%;
}

.padding {
    padding: 64px 48px;
}
.map {
    width: 100%;
}
.primary-button {
    background-color: white;
    outline: navajowhite;
    border: navajowhite;
    box-shadow: 1px 1px 5px #616161b3;
    padding: 6px 24px;
    border-radius: 4px;
    font-weight: 500;
}

.text-cont {
    margin-bottom: 24px;
}
.text-cont h4,
.text-cont p {
    margin: 0;
}
.text-cont a {
    color: black;
    text-decoration: none;
}
