<div class="full-min-width container">

    <div class="m-pad">
        <h1 class="gb-title gb-title-pad">ABOUT US</h1>
        <div>
            <p class="gb-para">
                MECHWELL TOOLS is a private limited company, with it's main head office situated in
                Faridabad,Haryana. MECHWELL TOOLS was formed in the year 1998, under the efficient
                guidance of our mentor and founder of the company Mr. Sabhajeet Singh along with the help
                of few highly skilled professionals. And now the group has more than five units in faridabad
                itself and its branch offices in Pune, Chennai, Hyderabad, Mumbai, Dubai and Malaysia and has
                more than 700 qualified employees.

                Since it's inception in the year 1998 and with more than 20+ years of experience MECHWELL
                GROUP has become an industry leader in engineering and manufacturing wide SPM other
                leading Machines , Jigs & Fixtures - Robotic Fixtures, Automation Fixtures, Packaging Machines,
                Fabrication, Engineering Services such as - Plain Plug Guages, Snap guages etc.

                We are backed by some of the best brains in the country and have already spread its clientele
                base across the nation and also abroad. We have all in-house machine shop where maximum
                components are manufactured in house with state of art facilities and almost all the machines
                are equipped with digital controls for accurate machining.

                The main strength of MECHWELL TOOLS & GAUGES (P) Ltd has always been its manufacturing
                division. We provide the wide range of products and services like Cash Roll Machines, Printing
                Machines, Flexo Printing Machines, Converting Machines etc. All these products are offered in
                both standard and special sizes as per the requirement. Our services include designing,
                machining, fabrication weld shop and fabrication plant.

                MECHWELL GROUP has always strived to achieve 100% satisfaction of its customers, by
                delivering more than what our customers expect from us. We are very well aware of the
                importance of a well-satisfied customer who brings in repeat sales, that accounts for existence
                of any company. It has always been a pleasure and an honor to serve patrons like you to whom
                we owe the success of this establishment. I now therefore, seek continued patronage of our
                valued customers, cooperation & full commitment of our employees and finally thank our
                well-wishers who have always contributed towards the continuous growth of this organization.
            </p>
        </div>
    </div>

    <br><br><br>

    <div class="m-pad">
        <h3 class="gb-title gb-title-pad">Product development skills</h3>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="../../assets/homePageImage.jpg" alt="" class="prod-dev-img">
                </div>
                <div class="col-md-6">
                    <p class="gb-para">
                        Our product engineering skills and R&D lab help us to
                        develop the parts and assemblies from basic
                        drawings or designs. We can be involved with your
                        design team in joint development programs. We
                        offer facilities for performance testing, product
                        validation, and endurance testing.

                        We provide a full and comprehensive one-stop-shop
                        solution from design to fabrication covering full
                        logistics from the factory’s floor to customer’s office.
                        We provide an uncompromising product, pay
                        attention to sourced materials, fabrication
                        techniques & put special emphasize on quality
                        assurance to ensure a perfect fit & satisfaction 100%
                        of the time. We aim to revolutionize and dominate
                        the market with our quality, cost efficient solutions,
                        available for our clients as custom made solutions,
                        every time, as the case dictate.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>