<div style="padding:48px">

    <h1>Why Mechwell Tools And Gauges Pvt. Ltd. ?</h1>
    <br><br>
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <h4>CUSTOMER CENTRIC APPROCH</h4>
                <ul>
                    <li>Program Management capabilities to support customer's new developments</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4>ADVANCED ENGINEERING CAPABILITIES</h4>
                <ul>
                    <li>Continued Improvement for the Effectiveness and Efficiency of our Products and Services.</li>
                    <li>In-build " POKA YOKE " for defect prevention at customer end.</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h4>SOUND MANUFACTURING KNOWLEDGE</h4>
                <ul>
                    <li>Pneumatic, mechanical and controls expertise</li>
                    <li>Dedicated Robot teaching expert</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4>COMMITMENT</h4>
                <ul>
                    <li>Top Management Commitment & Direct Involvement</li>
                    <li>Everybody's involvement thru shared vision and commitment</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h4>PROVEN SUCCESS</h4>
                <ul>
                    <li>We provide customers a defect & hassle-free experience through our design, software program and
                        CMM,
                        in-house.</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4>TRUST</h4>
                <ul>
                    <li>Over 20 Years of Experienced Staffs in Automation Field.</li>
                </ul>
            </div>
        </div>

    </div>

</div>