<div style="padding:48px">

    <h2>Why Patil Automation Pvt. Ltd. ?</h2>

    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <h4>CUSTOMER CENTRIC APPROCH</h4>
                <ul>
                    <li>Program Management capabilities to support customer's new developments</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4>ADVANCED ENGINEERING CAPABILITIES</h4>
                <ul>
                    <li>Continued Improvement for the Effectiveness and Efficiency of our Products and Services.</li>
                    <li>In-build " POKA YOKE " for defect prevention at customer end.</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h4>CUSTOMER CENTRIC APPROCH</h4>
                <ul>
                    <li>Program Management capabilities to support customer's new developments</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4>CUSTOMER CENTRIC APPROCH</h4>
                <ul>
                    <li>Continued Improvement for the Effectiveness and Efficiency of our Products and Services.</li>
                    <li>In-build " POKA YOKE " for defect prevention at customer end.</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h4>CUSTOMER CENTRIC APPROCH</h4>
                <ul>
                    <li>Program Management capabilities to support customer's new developments</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4>CUSTOMER CENTRIC APPROCH</h4>
                <ul>
                    <li>Continued Improvement for the Effectiveness and Efficiency of our Products and Services.</li>
                    <li>In-build " POKA YOKE " for defect prevention at customer end.</li>
                </ul>
            </div>
        </div>

    </div>

</div>