<div
    style="background-image: url(../../../assets/homePageImage.jpg);background-repeat: no-repeat;background-size: cover;">
    <div class="filter-overlay">
        <div class="container">

            <h2 class="centerText" style="font-size: 48px;">Our Products</h2>
            <h4 class="centerText" style="text-transform: uppercase;">We have solutions for all your Technical Needs</h4>
            <br>
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let e of items">
                    <div style="margin: 12px 24px;">
                        <img src="{{e.gif}}" alt="">
                    </div>
                </ng-template>
            </owl-carousel-o>

        </div>
    </div>
</div>