<div
    style="background-image: url(../../../assets/home/s22.png);background-repeat: no-repeat;background-size: cover;">
    <div class="filter-overlay">

        <h2 class="centerText gb-title">Our Products</h2>
        <br><br><br>

        <div class="container">

            <h4 class="centerText" style="text-transform: uppercase;">We have solutions for all your Technical
                Needs</h4>
            <br>
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let e of items">
                    <div style="margin: 12px 24px;">
                        <img src="{{e.bg}}" alt="">
                    </div>
                </ng-template>
            </owl-carousel-o>

        </div>


    </div>
</div>