<!-- <h1>Experience With Industrial Robots</h1>
<div class="container">
    <div class="row">

        <div class="col-md-6">
            <img src="../../../../assets/dialog-pages/robotics/pic1.png" alt="">
        </div>

        <div class="col-md-6">
            <img src="../../../../assets/dialog-pages/robotics/pic2.png" alt="">
        </div>

    </div>
</div>

<br><br>

<h1>Major Robotic Turnkey Projects - BIW</h1>
<div class="container">
    <div class="row">

        <img src="../../../../assets/dialog-pages/robotics/Pic3.png" alt="">

    </div>
</div> -->

<img src="../../../../assets/dialog-pages/robotics/0016.jpg" alt="">

<img src="../../../../assets/dialog-pages/robotics/0017.jpg" alt="">