.profCard {
    background-color: white;
    border-radius: 50px;
    padding: 24px 24px;
    box-shadow: 0px 6px 15px #80808066;
    // max-width: 80vw;
    height: 100%;
    margin: 36px auto;
    // display: flex;
    max-width: 600px;
}
.profCard img {
    width: 100%;
    border-radius: 50px;
    // box-shadow: 2px 2px 8px grey;
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%);
    margin: auto;
    display: block;
}

.textContainer h4 {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    font-size: larger;
}
.textContainer {
    // margin-top: 24px;
    margin: 36px;
}
.textContainer p {
    text-align: justify;
    font-size: 12px;
}
