<div class="full-min-width">

    <h1 class="gb-title gb-title-pad">OUR PRODUCTS</h1>

    <div class="container">
        <div class="row">

            <div class="col-md-6" *ngFor="let item of items;let i=index" (click)="openDialog(i)">
                <div class="imm-card" style="background-image: url({{item.bg}});"
                    [ngStyle]="{'background-size':item.bg_size}">
                    <div class="cont">
                        <h3 [ngStyle]="{'color':item.color}">{{item.title}}</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>