<div class="full-min-width">

    <h1>OUR PRODUCTS</h1>

    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="../../assets/homePageImage.jpg" alt="" class="prodImage">
                    <h3>WELDING JIGS AND FIXTURE</h3>
                    <span class="learnMore">LEARN MORE</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../assets/homePageImage.jpg" alt="" class="prodImage">
                    <h3>ROBOTICS CELLS AND AUTOMATIONS</h3>
                    <span class="learnMore">LEARN MORE</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../assets/homePageImage.jpg" alt="" class="prodImage">
                    <h3>SPM</h3>
                    <span class="learnMore">LEARN MORE</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="../../assets/homePageImage.jpg" alt="" class="prodImage">
                    <h3>FABRICATION & MACHINING</h3>
                    <span class="learnMore">LEARN MORE</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../assets/homePageImage.jpg" alt="" class="prodImage">
                    <h3>LINE AUTOMATION</h3>
                    <span class="learnMore">LEARN MORE</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../assets/homePageImage.jpg" alt="" class="prodImage">
                    <h3>SIMULATION</h3>
                    <span class="learnMore">LEARN MORE</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="../../assets/homePageImage.jpg" alt="" class="prodImage">
                    <h3>AUTOMOBILE COMPONENTS</h3>
                    <span class="learnMore">LEARN MORE</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../assets/homePageImage.jpg" alt="" class="prodImage">
                    <h3>GAUGES & PANEL CHECKERS</h3>
                    <span class="learnMore">LEARN MORE</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../assets/homePageImage.jpg" alt="" class="prodImage">
                    <h3>TOOLS AND DIES</h3>
                    <span class="learnMore">LEARN MORE</span>
                </div>
            </div>
        </div>

    </div>

</div>