<div style="padding:48px;background-color: #faeaff; min-height: 80vh;">

    <div>
        <h2 class="gb-title">In House Facilities</h2>
        <div class="underline"></div>
    </div>
    <br><br><br>
    <div class="container">

        <div class="row">
            <div class="col-md-4 flexRow">
                <div>
                    <span class="roundIconContainer">
                        <i class="fa fa-paint-brush"></i>
                    </span>
                </div>
                <div>
                    <h4>Dedicated Design Team</h4>
                    <ul>
                        <li>We have in house dedicated design team for mechanical design</li>
                        <li>Fixture design, inspection gauges, cells, SPM, Automation lines</li>
                        <li>Solid Edge, Catia work stations</li>
                        <li>Weld simulation, torch approach study, Robot reach study.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 flexRow">
                <div>

                    <span class="roundIconContainer">
                        <i class="fa fa-code"></i>
                    </span>

                </div>
                <div>
                    <h4>Dedicated Programming Team
                    </h4>
                    <ul>
                        <li>We have in house dedicated PLC programming team, can handle any make PLC, including SCADA,
                            servo
                            motion controls.</li>
                        <li>Vision system programming, traceability system & integrations.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 flexRow">
                <div>
                    <span class="roundIconContainer">
                        <i class="fa fa-star"></i>
                    </span>
                </div>
                <div>
                    <h4>Quality Control
                    </h4>
                    <ul>
                        <li>Flying scot for ensuring quality parts supplies.</li>
                        <li>In-house gauging facility.</li>
                        <li>In-house CMM (Romer/ Faro)</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 flexRow">
                <div>
                    <span class="roundIconContainer">
                        <i class="fa fa-industry"></i>
                    </span>
                </div>
                <div>
                    <h4>
                        Manufacturing Facility
                    </h4>
                    <ul>
                        <li>Along with 40 vendor base, we have in house manufacturing facility.</li>
                        <li>Planno, Jig Boring, M1TR, Milling, Drilling, Lathes, Welding, etc.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 flexRow">
                <div>
                    <span class="roundIconContainer">
                        <i class="fa fa-gears"></i>
                    </span>
                </div>
                <div>
                    <h4>
                        Project Management
                    </h4>
                    <ul>
                        <li>Program management team to track the project activities.</li>
                        <li>Well trained assembly fitters & supervisors.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 flexRow">
                <div>
                    <span class="roundIconContainer">
                        <i class="fa fa-life-bouy"></i>
                    </span>
                </div>
                <div>
                    <h4>
                        Customer Service
                    </h4>
                    <ul>
                        <li>Well trained customer support team to ensure the installation & commissioning and provide
                            customer
                            support, ALL TIME.</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>