<div class="full-min-width">

    <h1>OUR TEAM</h1>

    <div>

        <div class="container">
            <h1>DIRECTORS</h1>
            <div class="row">
                <div class="col-md-6">
                    <img src="../../assets/homePageImage.jpg" alt="" class="team-image">
                    <h3>Mr. Ram Lalit Singh</h3>
                </div>
                <div class="col-md-6">
                    <img src="../../assets/homePageImage.jpg" alt="" class="team-image">
                    <h3>Shiv Nandan Singh</h3>
                </div>
            </div>
        </div>

        <div class="container">
            <h1>CEO</h1>
            <div class="row">
                <img src="../../assets/homePageImage.jpg" alt="" class="team-image">
                <h3>Mr. Rajesh XXXXX</h3>
            </div>
        </div>


        <div class="container">
            <h1>CFO</h1>
            <div class="row">
                <img src="../../assets/homePageImage.jpg" alt="" class="team-image">
                <h3>Mr. Vinay Bansal</h3>
            </div>
        </div>


        <div class="container">
            <h1>TECHNICAL TEAM</h1>
            <img src="../../assets/homePageImage.jpg" alt="" class="team-image">
            <h2>Mr. Hansraj Verma(HEAD)</h2>
            <div class="row">
                <div class="col-md-6">
                    <img src="../../assets/homePageImage.jpg" alt="" class="team-image">
                    <h3>Mr. Vijay Gupta</h3>
                </div>
                <div class="col-md-6">
                    <img src="../../assets/homePageImage.jpg" alt="" class="team-image">
                    <h3>Mr. Aditya Singh</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="../../assets/homePageImage.jpg" alt="" class="team-image">
                    <h3>Mr. Tara Chand</h3>
                </div>
                <div class="col-md-6">
                    <img src="../../assets/homePageImage.jpg" alt="" class="team-image">
                    <h3>Mr. Sandeep Singh</h3>
                </div>
            </div>
        </div>

        <div class="container">
            <h1>TECHNICAL DIRECTOR</h1>
            <div class="row">
                <img src="../../assets/homePageImage.jpg" alt="" class="team-image">
                <h2>Mr. Krishan Lalit Singh</h2>
            </div>
        </div>

        <div class="container">
            <h1>QUALITY TEAM</h1>
            <div class="row">
                <div class="col-md-6">
                    <img src="../../assets/homePageImage.jpg" alt="" class="team-image">
                    <h3>Mr. Mahesh Kumar</h3>
                </div>
                <div class="col-md-6">
                    <img src="../../assets/homePageImage.jpg" alt="" class="team-image">
                    <h3>Mr. Ganesh Kumar</h3>
                </div>
            </div>
        </div>

        <div class="container">
            <h1>MARKETING TEAM</h1>
            <div class="row">
                <div class="col-md-6">
                    <img src="../../assets/homePageImage.jpg" alt="" class="team-image">
                    <h3>Mr. Vishwajeet Singh</h3>
                </div>
                <div class="col-md-6">
                    <img src="../../assets/homePageImage.jpg" alt="" class="team-image">
                    <h3>Mr. Subhanshu Thakur</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="../../assets/homePageImage.jpg" alt="" class="team-image">
                    <h3>Mr. Kopal Shrivastva</h3>
                </div>
                <div class="col-md-6">
                    <img src="../../assets/homePageImage.jpg" alt="" class="team-image">
                    <h3>Mr. Medhavani</h3>
                </div>
            </div>
        </div>

    </div>

</div>