<div class="parent-element-to-video">

    <div class="bgImg" style="background-image: url(../../assets/home/s8.png);">
    </div>

    <video style="background-color: rgb(0, 0, 0);" poster="../../assets/home/s8.png" id="vid" class="bgvideo"
        preload="auto" autoplay="true" src="../../assets/homeVideo2.mp4" muted="muted"></video>

</div>

<app-section-two></app-section-two>

<app-section-three></app-section-three>

<app-section-four></app-section-four>

<app-home-about-us></app-home-about-us>

<app-why></app-why>

<app-one-bike></app-one-bike>